---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Head from '../../layouts/Head.astro';
import Badge from '../../components/Badge.astro';
import Body from '../../layouts/Body.astro';
import Prose from '../../components/Prose.astro';
import NextPrev from '../../components/NextPrev.svelte';
import ViewCounter from '../../components/ViewCounter.svelte';

const posts = await getCollection('posts');

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post: CollectionEntry<'posts'>) => ({
    params: { id: post.id },
    props: { post }
  }));
}

const { post } = Astro.props;
posts.sort((a, b) => Date.parse(a.data.date) - Date.parse(b.data.date));
const index = posts.findIndex((p) => p.id === post.id);
const { Content } = await render(post);
---

<html lang="en" class="overscroll-y-none">
  <Head title={`Shibe Drill | ${post.data.title}`} description="An article written by Shibe Drill" />
  <Body>
    <main slot="content" class="print:m-0 my-6 mx-6 flex gap-4 align-center justify-center flex-wrap flex-grow">
      <div class="card bg-base-300 lg:w-1/2 print:w-full w-full lg:mx-0 shadow-xl print:shadow-none">
        <div class="card-body">
          <div id="post-info" class="flex flex-row">
            <div>
              <h4 class="print:block hidden mb-2">
                This post is originally from <a href="https://shibedrill.site" class="underline font-bold"
                  >shibedrill.site</a
                >
              </h4>
              <h2 class="card-title text-2xl mb-2">{post.data.title}</h2>
              {post.data.date.toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
              <span class="mx-2 print:hidden">-</span>
              {post.data.tags.map((tag) => <Badge class="print:hidden" tag={tag} />)}
            </div>
            <div class="badge badge-primary ml-auto text-accent-content">
              <ViewCounter client:load article={post.id}/>
            </div>
          </div>
          <hr class="border-white border-1 my-4 print:m-0" />
          <Prose>
            <Content />
          </Prose>
          <NextPrev index={index} posts={posts} />
        </div>
      </div>
    </main>
  </Body>
</html>
