---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<head>
  <title>{title}</title>
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Shibe Drill's Official Site"
    href={new URL('rss.xml', Astro.site)}
  />
  <meta name="darkreader-lock" />
  <meta name="charset" content="utf-8" />
  <meta name="og:title" content={title} />
  <meta name="twitter:title" content={title} />
  <meta name="description" content={description} />
  <meta property="og:description" content={description} />
  <meta name="twitter:description" content={description} />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <slot name="favicon">
    <link rel="icon" href="/cheesecake.png" />
  </slot>
  <slot name="extra-content" />
</head>

<style>
  @font-face {
    font-family: 'Hack-Term-Font';
    src: url('/fonts/Hack-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
